{% extends '::base.html.twig' %}

{% block body -%}

        <h4>Books list</h4>
        <hr>


<div class="count">
   Books in database: {{ pagination.getTotalItemCount }}
</div>
<table>
    {# table body #}

    <table id="books_list" class="table-hover">
            <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Isbn</th>
                <th{% if pagination.isSorted('entity.rating') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Rating', 'entity.rating') }}</th>
                <th{% if pagination.isSorted('entity.registrationDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Registration date', 'entity.registrationDate') }}</th>
                <th>Actions</th>
            </tr>
            </thead>


        <tbody class="table-hover">
        {% for entity in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
                <tr>
                    <td>{{ entity.cover|raw }}</td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.author.author }}</td>
                    <td>{{ entity.pages }}</td>
                    <td>{{ entity.isbn }}</td>
                    <td>{{ entity.rating }}</td>
                    <td>{% if entity.registrationDate %}{{ entity.registrationDate|date('Y-m-d') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('book_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('book_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>


    </tr>

</table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>


    <ul>
        <li>
            <a href="{{ path('book_new') }}">
                Create a new entry
            </a>
        </li>
        <li>
            <a href="{{ path('book_new_isbn') }}">
                Create a new entry by ISBN
            </a>
        </li>

    </ul>

{% endblock %}
