{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Add books by ISBN</h1>
    {% if book is defined %}
             {{ book.getCover| raw  }}<br>
        Author:{{ book.author.author}}     <br>
        Title: {{ book.getTitle }}         <br>
        Pages: {{ book.getPages }}         <br>
        About: {{ book.getAbout|raw }}     <br>
        <br>
    {% endif %}
    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <form action=" {{ path('book') }} ">
                <input type="submit" value="Back to the list" class="btn-default btn">
            </form>
        </li>
    </ul>
{% endblock %}