{% extends '::base.html.twig' %}
{% block title %}{{ entity.author.author }} - {{ entity.title }}{% endblock %}
{% block body -%}
    <h4>{{ entity.author.author }}, {{ entity.title }}</h4>
    <hr>

    <div id="cover">
    {{ entity.cover | raw }}
    </div>
    <div id="book_info">
    <b>ID:</b> <span id="entity_id">{{ entity.id }}</span><br>
    <b>Author:</b>  {{ entity.author.author }} <br>
    <b>Title:</b> {{ entity.title }} <br>
    <b>Pages:</b> {{ entity.pages }} <br>
    <b>ISBN:</b> {{ entity.isbn }} <br>
    <b>Rating: </b> {{ entity.rating }} <br>
    <b>Category:</b> {% for categories in entity.getCategories %}
    {{ categories.categoryName }}
{% endfor %}<br>
    <b>Registration date:</b> {{ entity.registrationDate|date('Y-m-d') }} <br>
    <b>Quantity:</b> <span id="query_result"> {{ entity.quantity}} </span> <br>
        <hr>
         {% if entity.about != " " %}
        <div id="about_book"><b>About:</b><p>{{ entity.about|raw }}</p> </div>
        <hr>
         {% endif %}
        <div id="ajax_message"></div>
    </div>

    <ul class="left_side">

        <li id="order_button_position">
            {% if entity.quantity == 0 and user == true %}
                You already reserved this book.

            {% elseif entity.quantity > 0 and user == true and isBookReserved == true %}
                <button type="button" id="order_update_button" disabled class="btn-default btn">Order book</button>

            {% elseif entity.quantity > 0 and order == false and isBookReserved == false %}
                <button type="button" id="order_button" disabled class="btn-default btn">Order book</button>
                <button type="button" id="return_button" class="return_button btn-default btn" disabled>Return book</button>

            {% elseif order == true %}
                <button type="button" id="return_button" disabled class="btn-default btn">Return book</button>

            {% elseif entity.quantity == 0 and user == false %}
                <button type="button" id="reserve_button" disabled class="order_buttons">Reserve book</button>

            {% elseif entity.quantity == 1 and user == false and isBookReserved == true %}
                Book is reserved, you can't take it.
                <button type="button" id="reserve_button" disabled class="order_buttons">Reserve book</button>

            {% elseif entity.quantity > 1 and user == false and isBookReserved == true %}
                <button type="button" id="order_button" disabled class="order_buttons">Order book</button>
                <button type="button" id="return_button" class="return_button btn-default btn" disabled>Return book</button>

            {% elseif entity.quantity == 0 and user == true %}
                You already reserved this book.
            {% endif %}
        </li>
        <li>
        <form action=" {{ path('book') }} ">
            <input type="submit" value="Back" class="btn-default btn">
            </form>
        </li>
    </ul>
    <ul class="right_side">
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                {{ form(delete_form) }}
            </li>
            <li>
                <form action=" {{ path('book_edit', { 'id': entity.id }) }} ">
                    <input type="submit" value="Edit" class="btn-default btn">
                </form>
            </li>
        {% endif %}
    </ul>

    <div class="clear_sides">
        <hr>
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': '{{ entity.id }}'} %}
        {% if amazon_comments != "" %}
        <h4>Amazon.com reviews</h4>
        <div class="book_comments">{{ amazon_comments|raw }} </div>
        {% endif %}
        {% if goodreads_comments != "" %}
        <hr>
        <h4>Goodreads.com reviews</h4>
        <div class="book_comments">{{ goodreads_comments|raw }} </div>
        {% endif %}
    </div>
{% endblock %}
