<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;  charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>

    <title>{% block title %}Welcome to Library!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
</head>
<body>
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={{ app.request.getSchemeAndHttpHost() }}>VienasVienas Library</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-left">
                <div class="input-group">
                    <form id ="search-form" action="{{ path('books_search') }}">
                        <input type="text" id="books_search" name ="q" class="typeahead" placeholder="Search for...">
                        <input type="submit" id="searchsubmit" />
                    </form>
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{{ app.security.getToken().getUser().getUsername() }}<span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="{{ path('fos_user_profile_show')  }}">Profile</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <!-- Left column -->
            <h4>Books categories</h4>

            <hr>

            <ul class="nav nav-stacked">
                {{ render(controller('BooksBundle:Category:categories')) }}
            </ul>

            <hr>

            <h4>Most Popular</h4>

            <hr>
            <div class="book_on_base">
                <ul class="nav nav-pills nav-stacked">
                    {{ render(controller('BooksBundle:Books:mostPopular')) }}
                </ul>
            </div>
        </div>


        <div class="col-sm-8">
            <div id="main_list">
                <h4>Your personal information</h4>
                <hr>
                {% trans_default_domain 'FOSUserBundle' %}

                <div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% endif %}
                </div>

                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div>
                    <div class="fos_user_user_show">
                        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-2">
            <!-- Right column -->
            <a href="#"><h4>Your Books</h4></a>

            <hr>

            <div id="recent_book">
                {{ render(controller(
                'BaseBundle:Base:recentBook',
                { 'user': app.security.getToken().getUser() }
                )) }}
            </div>

            <hr>

            <a href="#"><h4>Your reservations</h4></a>

            <hr>

            <div id="active_reservation">
                {{ render(controller(
                'BaseBundle:Base:activeReservation',
                { 'user': app.security.getToken().getUser() }
                )) }}
            </div>

        </div>
    </div>
</div>
<footer class="text-center">Library &copy; 2015</footer>

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>